.navmenu{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
  
}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navmenu-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navmenu li{
    cursor:pointer;
}

.navmenu button{
    padding: 10px 30px;
    font-size: 16px;
    background: transparent;
    color:  #49557e;
    border: 1px solid #49557e;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navmenu button:hover{
    background-color: #28aa3c;
    
}

.navmenu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid  #49557e;
}

.navmenu-search-icon{
    position: relative;
}

.navmenu-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #28aa3c;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

