.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
}
.sidebar-buttons-container{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20%;
    gap: 20px;
}
.sidebar-button{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-button.active{
    background-color: #c5d6c8;
    border-color: #28aa3c;
}

@media (max-width: 900px){
    .sidebar-button p{
        display: none;
    }
}
